<template>
  <v-container>
    <v-layout>
      <v-flex xs4>
        <Course></Course>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Course from "@/components/Course.vue";
import router from "../router/index";
import { mapGetters } from "vuex";

export default {
  components: {
    Course
  },
  mounted() {
    if (!this.isLoggedIn) {
      return router.push("/login");
    }
  },
  computed: {
    ...mapGetters("authentication", ["isLoggedIn"])
  }
};
</script>
