<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs4 offset-xs4>
        <h2>Login</h2>
        <v-text-field
          label="Email"
          prepend-icon="mdi-account-circle"
          type="email"
          :value="loginEmail"
          @input="setLoginEmail"
        ></v-text-field>
        <v-text-field
          label="Password"
          prepend-icon="mdi-lock"
          type="password"
          autocomplete="new-password"
          :value="loginPassword"
          @input="setLoginPassword"
        ></v-text-field>
        <v-alert type="error" :value="loginError">
          {{ loginError }}
        </v-alert>
        <v-btn color="success" @click="login">Login</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
  computed: {
    ...mapState("authentication", ["loginEmail", "loginPassword", "loginError"])
  },
  methods: {
    ...mapMutations("authentication", ["setLoginEmail", "setLoginPassword"]),
    ...mapActions("authentication", ["login"])
  }
};
</script>
