<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs6 offset-xs3>
        <h2>Register</h2>
        <v-text-field
          label="Username"
          placeholder="Username"
          :value="registerUsername"
          @input="setRegisterUsername"
        ></v-text-field>
        <v-text-field
          label="Email"
          placeholder="Email"
          type="email"
          :value="registerEmail"
          @input="setRegisterEmail"
        ></v-text-field>
        <v-text-field
          label="Password"
          placeholder="Password"
          type="password"
          autocomplete="new-password"
          :value="registerPassword"
          @input="setRegisterPassword"
        ></v-text-field>
        <v-alert type="error" :value="registerError">
          {{ registerError }}
        </v-alert>
        <v-btn @click="register">Register</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
export default {
  computed: {
    ...mapState("authentication", [
      "registerUsername",
      "registerEmail",
      "registerPassword",
      "registerError"
    ])
  },
  methods: {
    ...mapMutations("authentication", [
      "setRegisterUsername",
      "setRegisterEmail",
      "setRegisterPassword"
    ]),
    ...mapActions("authentication", ["register"])
  }
};
</script>
