<template>
  <Panel title="Courses">
    <div class="mb-2" v-for="course in courses" :key="course.id">
      <v-layout row wrap>
        <v-flex xs9 class="text-xs-left">
          <span v-if="!course.isEditMode">
            {{ course.name }}
          </span>
          <v-text-field
            v-if="course.isEditMode"
            :value="course.name"
            @input="setCourseName({ course, name: $event })"
          >
          </v-text-field>
        </v-flex>
        <v-flex xs3>
          <v-btn v-if="!course.isEditMode" small @click="setEditMode(course)"
            >Edit</v-btn
          >
          <v-btn v-if="course.isEditMode" small @click="saveCourse(course)"
            >Save</v-btn
          >
        </v-flex>
      </v-layout>
    </div>
    <v-text-field
      placeholder="My course name..."
      @input="setNewCourseName"
      :value="newCourseName"
    ></v-text-field>
    <v-btn @click="createCourse">Create</v-btn>
    <p>Total de Cursos: {{ totalCourses }}</p>
  </Panel>
</template>

<script>
import { mapMutations, mapState, mapActions, mapGetters } from "vuex";

export default {
  mounted() {
    this.fetchCourses();
  },
  computed: {
    ...mapState("course", ["newCourseName", "courses"]),
    ...mapGetters("course", ["totalCourses"])
  },
  methods: {
    ...mapMutations("course", [
      "setNewCourseName",
      "setEditMode",
      "setCourseName"
    ]),
    ...mapActions("course", ["createCourse", "fetchCourses", "saveCourse"])
  }
};
</script>
