<template>
  <v-app-bar app color="primary" dark>
    <v-toolbar-title>
      Senar Nas Nuvens
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn text rounded to="/">Home</v-btn>
    <v-btn text rounded to="/register" v-if="isLoggedIn">Register</v-btn>
    <v-btn text rounded to="/login" v-if="!isLoggedIn">Login</v-btn>
    <v-btn text rounded to="/login" v-if="isLoggedIn" @click="logout"
      >Logout</v-btn
    >
  </v-app-bar>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  computed: {
    ...mapGetters("authentication", ["isLoggedIn"])
  },
  methods: {
    ...mapActions("authentication", ["logout"])
  }
};
</script>
