<template>
  <v-app>
    <Toolbar></Toolbar>
    <v-main>
      <router-view />
    </v-main>
    <v-footer padless>
      <v-col class="text-center" cols="12">
        {{ new Date().getFullYear() }} — <strong>Senar Nas Nuvens</strong>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
import Toolbar from "@/components/Toolbar.vue";

export default {
  name: "App",

  components: {
    Toolbar
  }
};
</script>
